body {
	font-family: Futura;
	margin: 0;
	background: #444444;
}

.container {
	position: absolute;
	list-style-type: none;
	height: 100%;
	width: 100%;

}

.item h3{
	position: absolute;
	top: 10%;
	left: 5%;
	text-align: left;
}

.item h4 {
	position: absolute;
	top: 11%;
	left: 5%;
	text-align: left;
}
.item h5 {
	position: absolute;
	top: 12%;
	left: 5%;
	text-align: left;
	margin-right: 5%;
}

#all{
	top: 5%;
	left: 5%;
	width: 40%;
	height: 50%;
	margin-right: 40px;
	margin-bottom: 50px;
	position: relative;
}

#all .item {
	width:90%;
	height: 90%;
	border:1px solid #444444;
	box-shadow:2px 2px 4px rgba(255,255,255,.5);
	position: absolute;
	
	border-radius:10px;
	text-align:center;
	background-color:#ECF0F1;
}
.item:hover {
	cursor: pointer;
}

